<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KiSSSvc.DAL.Properties.Settings.KiSS_40_MASTERConnectionString" connectionString="server=szhm9301;initial catalog=KiSS_ZH_DEV_R4731;user id=kiss_tfs;password=kiss2012;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
<!--
            connectionString="Data Source=chbevs013;Initial Catalog=KiSS4_FAMOZ_MasterDev;Persist Security Info=True;User ID=kiss3;Password=kiss2012"
            connectionString="Data Source=chbevs013.chbe01.local;Initial Catalog=KiSS4_FAMOZ_MasterDev;Persist Security Info=True;User ID=kiss3;Password=kiss2012"
            connectionString="Data Source=172.30.240.13\SOZ_KISS_D;Initial Catalog=KiSS4_MASTER_ZH;Persist Security Info=True;User ID=kiss3;Password=kiss2012"
            connectionString="Data Source=CHBEN057;Initial Catalog=KiSS4_MASTER_ZH;Persist Security Info=True;Trusted_Connection=Yes"
-->
