<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KACon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${APPDATA}\Diartis\KiSS\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5000KB" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>

    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <remoteAddress value="127.0.0.1" />
      <remotePort value="9090" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true" />
      </layout>
    </appender>

    <appender name="ChainsawAppender" type="log4net.Appender.FileAppender">
      <file value="${APPDATA}\Diartis\KiSS\log.xml" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true" />
      </layout>
    </appender>

    <!--
        <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
            <param name="File" value="DadasLog.txt" />
            <param name="AppendToFile" value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="Header" value="[Header]\r\n" />
                <param name="Footer" value="[Footer]\r\n" />
                <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
            </layout>
        </appender>
        -->

    <root>
      <level value="debug" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="UdpAppender" />
      <appender-ref ref="ChainsawAppender" />
      <!--<appender-ref ref="LogFileAppender" />-->
    </root>

    <logger name="ch.diartis.KACon">
      <level value="debug" />
    </logger>
  </log4net>
  <appSettings>
    <!-- === KiSS Settings ================================================================ -->
    <!-- Use single instance of KiSS4.exe? -->
    <add key="SingleInstance" value="false" />

    <!-- Here define all processes which are locking documents. Do not remove ";" at start and end !!! -->
    <add key="LockingDocumentEXEs" value=";OUTLOOK;ACRORD32;WINWORD;MSPVIEW;" />

    <!-- Here define all processes which are not locking documents. Do not remove ";" at start and end !!! -->
    <add key="NotLockingDocumentEXEs" value=";IEXPLORE;NOTEPAD;" />

    <!-- Here we optionally define the login-dialog settings -->
    <add key="Login.Sizeable" value="true" />
    <add key="Login.ShowFilter" value="true" />
    <add key="Login.AutoTryLogin" value="false" />

    <!-- === KissUpdate =======================================================================
            Example:
            <add key="UpdateSource" value="\\bisrv1085\Share\KiSS\KiSS4_BSS_ZH Trunk" />
            <add key="UpdateSource" value="\\bisrv1085\share\KiSS\KiSS4.9.06" />

            <add key="UpdateFile" value="Kiss_Update.zip" />
            <add key="UpdateExeFile" value="Kiss_Update_Exe.zip" />
        -->

    <!-- === Kiss Environment ============================================================ -->
    <!--
            Available Environment Types:
            - Prod (orange)
            - Train (blue)
            - Test (yellow)
            - Dev (green)
        -->
    <!-- number of environments -->
    <add key="EnvCount" value="28" />

    <!-- Standard -->
    <add key="Env0.Name" value="----- .: Standard :. -----" />
    <add key="Env0.EnvType" value="Train" />
    <add key="Env0.ConnectionString" value="server=(local);initial catalog=KiSS_xxx;Trusted_Connection=Yes;" />

    <add key="Env1.Name" value=".: KiSS_Standard_R4939 (bisrv1029) :." />
    <add key="Env1.EnvType" value="Dev" />
    <add key="Env1.ConnectionString" value="server=192.168.35.205,1433;initial catalog=KiSS_Ivos_TestDB_R4929_1;user id=testKiss;" />

    <add key="Env2.Name" value=".: KiSS_Standard_TestRelease_R4939 :." />
    <add key="Env2.EnvType" value="Test" />
    <add key="Env2.ConnectionString" value="server=sql2014.diartislocal.local\sql2014;initial catalog=KiSS_Standard_TestRelease_R4939;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

    <!-- BSS -->
    <add key="Env3.Name" value="----- .: BSS :. -----" />
    <add key="Env3.EnvType" value="Train" />
    <add key="Env3.ConnectionString" value="server=(local);initial catalog=KiSS_xxx;Trusted_Connection=Yes;" />

    <add key="Env4.Name" value=".: KiSS_BSS_R4939 :." />
    <add key="Env4.EnvType" value="Dev" />
    <add key="Env4.ConnectionString" value="server=sql2014.diartislocal.local\sql2014;initial catalog=KiSS_BSS_R4939;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

    <add key="Env5.Name" value=".: KiSS_BSS_Test :." />
    <add key="Env5.EnvType" value="Test" />
    <add key="Env5.ConnectionString" value="server=sql2014.diartislocal.local\sql2014;initial catalog=KiSS_BSS_Test;user id=kiss_public;password=r/3VxEWiDpLvf+M3BHffZA==;" />

    <!-- PI -->
    <add key="Env6.Name" value="----- .: PI :. -----" />
    <add key="Env6.EnvType" value="Train" />
    <add key="Env6.ConnectionString" value="server=.;initial catalog=KiSS_xxx;Trusted_Connection=Yes;" />

    <add key="Env7.Name" value=".: KiSS_PI_TestRelease_R4939 :." />
    <add key="Env7.EnvType" value="Dev" />
    <add key="Env7.ConnectionString" value="server=sql2014.diartislocal.local\sql2014;initial catalog=KiSS_PI_TestRelease_R4939;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

    <!-- ZH -->
    <add key="Env8.Name" value="----- .: ZH :. -----" />
    <add key="Env8.EnvType" value="Train" />
    <add key="Env8.ConnectionString" value="server=(local);initial catalog=KiSS_xxx;Trusted_Connection=Yes;" />

    <!--mit IP versuchen falls es nicht klappt. SZHM24946 durch 194.56.31.88 ersetzen-->
    <add key="Env9.Name" value=".: KiSS ZH - Produktion Vortag (21:00, SZHM24946) :." />
    <add key="Env9.EnvType" value="Prod" />
    <add key="Env9.ConnectionString" value="server=SZHM24946\SOZ_KISS_D;initial catalog=KISS_ZH_PROD_VORTAG;user id=KiSS3;password=TNCVFBpHDUBfXID3OAbNK0U+L4apiRnA;" />

    <add key="Env10.Name" value=".: KiSS ZH - Preview R4939 (SZHM24946) :." />
    <add key="Env10.EnvType" value="Prod" />
    <add key="Env10.ConnectionString" value="server=SZHM24946\SOZ_KISS_D;initial catalog=KiSS_ZH_DEV_R4939;user id=KiSS3;password=TNCVFBpHDUBfXID3OAbNK0U+L4apiRnA;" />

    <add key="Env11.Name" value=".: KiSS ZH - TestRelease R4939 :." />
    <add key="Env11.EnvType" value="Prod" />
    <add key="Env11.ConnectionString" value="server=sql2014.diartislocal.local\sql2014;initial catalog=KiSS_ZH_TestRelease_R4939;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

    <add key="Env12.Name" value=".: KiSS_ZH_Test :." />
    <add key="Env12.EnvType" value="Test" />
    <add key="Env12.ConnectionString" value="server=sql2014.diartislocal.local\sql2014;initial catalog=KiSS_ZH_Test;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />
  </appSettings>
  <system.serviceModel>
    <!--
        <client>
            <endpoint address="http://szhm5200:8000/Kiss.Server.PSCD/"
                      binding="basicHttpBinding"
                      contract="KbuTransferlaufWebService.IKbuTransferlaufWebService"
                      name="Endpoint_BasicHttpBinding_IKbuTransferlaufWebService" />
            <endpoint address="http://szhm5200/Kiss.Server.PSCD/Kiss.Server.PSCD.SstZahlungseingaengeAbholenWebService.svc"
                      binding="basicHttpBinding"
                      contract="SstZahlungseingaengeAbholenWebService.ISstZahlungseingaengeAbholenWebService"
                      name="Endpoint_BasicHttpBinding_ISstZahlungseingaengeAbholenWebService" />
        </client>
      -->
    <!-- Diese Zeile entfernen, um WCF-Tracing zu aktivieren
    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="false"
           logMessagesAtTransportLevel="true"
           maxMessagesToLog="300000000"
           maxSizeOfMessageToLog="200000" />
    </diagnostics>
    -->
  </system.serviceModel>
  <system.diagnostics>
    <!-- Diese Zeile entfernen, um WCF-Tracing zu aktivieren
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages"
          type="System.Diagnostics.XmlWriterTraceListener"
          initializeData="c:\temp\logs\messages.svclog" />
        </listeners>
      </source>
    </sources>
    -->
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>