<app-layout [isNavbar]="true">
    <div class="layout-content">
        <app-left-sidebar [isNavbar]="true">
        </app-left-sidebar>

        <section id="wrapper-content">
            <!-- Neu co nhieu component con thi dung -->
            <!-- <router-outlet></router-outlet> -->
            <app-toolbars [titlePage]="'Page pendenzen'">
            </app-toolbars>
            <page-content>
                <div body>
                    <h1>Pendenzen Component</h1>
                    <button (click)="onBtnClick($event)">click 1</button>
                </div>
            </page-content>
        </section>
    </div>

</app-layout>
