.left-nav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 45px;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  box-shadow: 5px 0 5px 0 #EDEFF1;
}

#content {
  margin-left: 250px;
  background: #f3f5f7;
}
