<div class="app-content1">
    <div class="app-content1-header">
        <span>Suche</span>
    </div>
    <div class="app-content1-body">
        <!--<dx-form id="content1" [formData]="content1">
            <dxi-item itemType="group" [colCount]="2">
                
                <dxi-item itemType="group">
                    <dxi-item dataField="Status" editorType="dxSelectBox" [editorOptions]="{ items: positions, value: '' }"></dxi-item>
                    <dxi-item dataField="Pendenz Typ" editorType="dxSelectBox" [editorOptions]="{ items: positions, value: '' }"></dxi-item>
                    <dxi-item dataField="Betreff"></dxi-item>
                    <dxi-item dataField="Ersteller">
                        <dx-drop-down-box [(value)]="_gridBoxValue" valueExpr="ID" displayExpr="CompanyName" placeholder="Select a value..." [showClearButton]="true"
                            [dataSource]="gridDataSource">
                            <div *dxTemplate="let data of 'content'">
                                <dx-data-grid [dataSource]="gridDataSource" [columns]="['CompanyName', 'City', 'Phone']" [selection]="{ mode: 'multiple' }"
                                    [hoverStateEnabled]="true" [scrolling]="{ mode: 'infinite' }" [height]="345" [(selectedRowKeys)]="_gridBoxValue">
                                    <dxo-summary>
                                        <dxi-total-item column="CompanyName" summaryType="count" displayFormat="Anzahi Datensätze: {0}">
                                        </dxi-total-item>
                                    </dxo-summary>
                                </dx-data-grid>
                            </div>
                        </dx-drop-down-box>
                    </dxi-item>
                    <dxi-item dataField="Empfänger">
                        <dx-drop-down-box [(value)]="_gridBoxValue" valueExpr="ID" [displayExpr]="gridBox_displayExpr" placeholder="Select a value..."
                            [showClearButton]="true" [dataSource]="gridDataSource">
                            <div *dxTemplate="let data of 'content'">
                                <dx-data-grid [dataSource]="gridDataSource" [columns]="['CompanyName', 'City', 'Phone']" [selection]="{ mode: 'single' }"
                                    [hoverStateEnabled]="true" [scrolling]="{ mode: 'infinite' }" [height]="345" [(selectedRowKeys)]="gridSelectedRowKeys">
                                    <dxo-summary>
                                        <dxi-total-item column="CompanyName" summaryType="count" displayFormat="Anzahi Datensätze: {0}">
                                        </dxi-total-item>
                                    </dxo-summary>
                                </dx-data-grid>
                            </div>
                        </dx-drop-down-box>
                    </dxi-item>
                    <dxi-item dataField="Name Klient/in"></dxi-item>
                    <dxi-item dataField="Vorname Klient/in"></dxi-item>
                </dxi-item>

                <dxi-item itemType="group">
                    <dxi-item dataField="Fallnummer"></dxi-item>
                    <dxi-item dataField="Leistungsverantw">
                        <dx-drop-down-box [(value)]="_gridBoxValue" valueExpr="ID" displayExpr="CompanyName" placeholder="Select a value..." [showClearButton]="true"
                            [dataSource]="gridDataSource">
                            <div *dxTemplate="let data of 'content'">
                                <dx-data-grid [dataSource]="gridDataSource" [columns]="['CompanyName', 'City', 'Phone']" [selection]="{ mode: 'multiple' }"
                                    [hoverStateEnabled]="true" [paging]="{ enabled: true, pageSize: 10 }" [scrolling]="{ mode: 'infinite' }"
                                    [height]="345" [(selectedRowKeys)]="_gridBoxValue">
                                </dx-data-grid>
                            </div>
                        </dx-drop-down-box>
                    </dxi-item>
                    <dxi-item dataField="Organisationseinheit" editorType="dxSelectBox" [editorOptions]="{ items: positions, value: '' }"></dxi-item>
                    <dxi-item dataField="Erfasst" itemType="group" [colCount]="2">
                        <dx-box direction="row" width="100%">
                            <dxi-item [ratio]="5">
                                <dx-date-box [value]="now" type="date" width="100%">
                                </dx-date-box>
                            </dxi-item>
                            <dxi-item [ratio]="1">
                            </dxi-item>
                            <dxi-item [ratio]="5">
                                <dx-date-box [value]="now" type="date" width="100%">
                                </dx-date-box>
                            </dxi-item>
                        </dx-box>
                    </dxi-item>
                    <dxi-item dataField="Fällig" itemType="group" [colCount]="2">
                        <dx-box direction="row" width="100%">
                            <dxi-item [ratio]="5">
                                <dx-date-box [value]="now" type="date" width="100%">
                                </dx-date-box>
                            </dxi-item>
                            <dxi-item [ratio]="1">
                            </dxi-item>
                            <dxi-item [ratio]="5">
                                <dx-date-box [value]="now" type="date" width="100%">
                                </dx-date-box>
                            </dxi-item>
                        </dx-box>
                    </dxi-item>
                    <dxi-item dataField="Bearbeitung" itemType="group" [colCount]="2">
                        <dx-box direction="row" width="100%">
                            <dxi-item [ratio]="5">
                                <dx-date-box [value]="now" type="date" width="100%">
                                </dx-date-box>
                            </dxi-item>
                            <dxi-item [ratio]="1">
                            </dxi-item>
                            <dxi-item [ratio]="5">
                                <dx-date-box [value]="now" type="date" width="100%">
                                </dx-date-box>
                            </dxi-item>
                        </dx-box>
                    </dxi-item>
                    <dxi-item dataField="Erledigt" itemType="group" [colCount]="2">
                        <dx-box direction="row" width="100%">
                            <dxi-item [ratio]="5">
                                <dx-date-box [value]="now" type="date" width="100%">
                                </dx-date-box>
                            </dxi-item>
                            <dxi-item [ratio]="1">
                            </dxi-item>
                            <dxi-item [ratio]="5">
                                <dx-date-box [value]="now" type="date" width="100%">
                                </dx-date-box>
                            </dxi-item>
                        </dx-box>
                    </dxi-item>
                </dxi-item>

            </dxi-item>
        </dx-form>-->
    </div>
</div>
