SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
EXECUTE dbo.spDropObject fnXDBVersionGetCurrentDBVersionID
GO
/*===============================================================================================
  $Archive: /Database/KiSS4_MASTER_ZH/Functions/fnXDBVersionGetCurrentDBVersionID.SQL $
  $Author: Cjaeggi $
  $Modtime: 2.10.09 9:59 $
  $Revision: 2 $
=================================================================================================
  Description
-------------------------------------------------------------------------------------------------
  SUMMARY: Use this function to get current valid db version id
  -
  RETURNS: The id of the current valid db version entry or -1 if invalid
  -
  TEST:    SELECT dbo.fnXDBVersionGetCurrentDBVersionID()
=================================================================================================
  $Log: /Database/KiSS4_MASTER_ZH/Functions/fnXDBVersionGetCurrentDBVersionID.SQL $
 * 
 * 2     2.10.09 9:59 Cjaeggi
 * Formatted and changed to fit standard
=================================================================================================*/

CREATE FUNCTION dbo.fnXDBVersionGetCurrentDBVersionID
()
RETURNS INT
AS BEGIN
  -----------------------------------------------------------------------------
  -- declare vars
  -----------------------------------------------------------------------------
  DECLARE @ReturnValue INT
  
  -----------------------------------------------------------------------------
  -- get latest version id
  -----------------------------------------------------------------------------
  SELECT TOP 1 @ReturnValue = DBV.XDBVersionID 
  FROM dbo.XDBVersion DBV WITH (READUNCOMMITTED)
  ORDER BY DBV.VersionDate DESC
  
  -----------------------------------------------------------------------------
  -- done, return value
  -----------------------------------------------------------------------------
  RETURN ISNULL(@ReturnValue, -1)
END
