<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KiSSSvc.SAP.PSCD.WebServiceHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <KiSSSvc.SAP.PSCD.WebServiceHelper.Properties.Settings>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_AusgleichLesen_MI_AUSGL_SENDEN_NEWService"
                serializeAs="String">
                <value>http://szhm2180:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_AUSGL_SENDEN_NEW_I70_100:CC_SOAP_GET_AUSGLEICH_001_I70&amp;version=3.0&amp;Sender.Service=BS_KISS_AUSGL_SENDEN_NEW_I70_100&amp;Interface=http%3A%2F%2FSTZH%5EMI_AUSGL_SENDEN_NEW</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_KontostandLesen_MI_KONTENSTAND_GETService"
                serializeAs="String">
                <value>http://szhm2170:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_KONTENSTAND_450:CC_SOAP_KONTENSTAND_OUT&amp;version=3.0&amp;Sender.Service=BS_KISS_KONTENSTAND_450&amp;Interface=HTTP%3A%2F%2FSTZH%5EMI_KONTENSTAND_GET</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_Async_BpAnlegen_MI_BUDGET_CREA_SOAP_OUTService"
                serializeAs="String">
                <value>http://szhm2180:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_BUDGET_DATA_CREA_I70_414:CC_SOAP_BUDGET_CREATE&amp;version=3.0&amp;Sender.Service=BS_KISS_BUDGET_DATA_CREA_I70_414&amp;Interface=http%3A%2F%2FSTZH%5EMI_BUDGET_CREA_SOAP_OUT</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_EinzahlungenStadt_MI_STADT_EINZAHLService"
                serializeAs="String">
                <value>http://szhm2179:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_STADT_EINZAHL_SENDEN_450:CC_SOAP_GET_STADT_EINZAHL&amp;version=3.0&amp;Sender.Service=BS_KISS_STADT_EINZAHL_SENDEN_450&amp;Interface=http%3A%2F%2FSTZH%5EMI_STADT_EINZAHL</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_EinzahlungenKlienten_MI_KLIENTEN_EINZAHLService"
                serializeAs="String">
                <value>http://szhm2179:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_KLIENTEN_EINZAHL_SENDEN_450:CC_SOAP_GET_KLIENTEN_EINZAHL&amp;version=3.0&amp;Sender.Service=BS_KISS_KLIENTEN_EINZAHL_SENDEN_450&amp;Interface=http%3A%2F%2FSTZH%5EMI_KLIENTEN_EINZAHL</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_Async_BelegSenden_MI_BUCHSTOFF_CREA_SOAP_OUTService"
                serializeAs="String">
                <value>http://szhm2179:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_BUCHSTOFF_450:CC_SOAP_BUCHSTOFF_CREATA&amp;version=3.0&amp;Sender.Service=BS_KISS_BUCHSTOFF_450&amp;Interface=http%3A%2F%2FSTZH%5EMI_BUCHSTOFF_CREA_SOAP_OUT</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_Async_BpMutieren_MI_BUDGET_CHG_SOAP_OUTService"
                serializeAs="String">
                <value>http://szhm2179:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_BUDGET_DATA_450:CC_SOAP_BUDGET_CHG&amp;version=3.0&amp;Sender.Service=BS_KISS_BUDGET_DATA_450&amp;Interface=http%3A%2F%2FSTZH%5EMI_BUDGET_CHG_SOAP_OUT</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_Async_VertragsgegenstandMutieren_MI_BUDGET_CHG_VG_SOAP_OUTService"
                serializeAs="String">
                <value>http://szhm2180:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_BUDGET_DATA_CHG_I70_414:CC_SOAP_BUDGET_VG_CHG&amp;version=3.0&amp;Sender.Service=BS_KISS_BUDGET_DATA_CHG_I70_414&amp;Interface=http%3A%2F%2FSTZH%5EMI_BUDGET_CHG_VG_SOAP_OUT</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_Async_VertragsgegenstandAnlegen_MI_BUDGET_CREA_VG_SOAP_OUTService"
                serializeAs="String">
                <value>http://szhm2180:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_BUDGET_DATA_CREA_I70_414:CC_SOAP_BUDGET_VG_CREATE&amp;version=3.0&amp;Sender.Service=BS_KISS_BUDGET_DATA_CREA_I70_414&amp;Interface=http%3A%2F%2FSTZH%5EMI_BUDGET_CREA_VG_SOAP_OUT</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_Async_BelegMutieren_MI_BUCHSTOFF_CHG_SOAP_OUTService"
                serializeAs="String">
                <value>http://szhm2179:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_BUCHSTOFF_CHG_450:CC_SOAP_BUCHSTOFF_CHG&amp;version=3.0&amp;Sender.Service=BS_KISS_BUCHSTOFF_CHG_450&amp;Interface=http%3A%2F%2FSTZH%5EMI_BUCHSTOFF_CHG_SOAP_OUT</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_Async_BelegStornieren_MI_BUCHSTOFF_STO_SOAP_OUTService"
                serializeAs="String">
                <value>http://szhm2179:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_BUCHSTOFF_DEL_450:CC_SOAP_BUCHSTOFF_DELETE&amp;version=3.0&amp;Sender.Service=BS_KISS_BUCHSTOFF_DEL_450&amp;Interface=http%3A%2F%2FSTZH%5EMI_BUCHSTOFF_STO_SOAP_OUT</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_WvStatusRueckmeldung_MI_WV_FAKTURAService"
                serializeAs="String">
                <value>http://szhm2179:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_WV_FAKTURA_SENDEN_450:CC_SOAP_GET_WV_FAKTURA&amp;version=3.0&amp;Sender.Service=BS_KISS_WV_FAKTURA_SENDEN_450&amp;Interface=http%3A%2F%2FSTZH%5EMI_WV_FAKTURA</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_UserSenden_MI_KISS_ANSPER_UPDATEService"
                serializeAs="String">
                <value>http://szhm2179:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_ANSPER_UPDATE:CC_SOAP_KISS_ANSPER_UPDATE&amp;version=3.0&amp;Sender.Service=BS_KISS_ANSPER_UPDATE&amp;Interface=http%3A%2F%2FSTZH%5EMI_KISS_ANSPER_UPDATE</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_BuchungsstoffStornieren_MI_KISS_BUCHSTOFF003Service"
                serializeAs="String">
                <value>http://szhm2179:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_BUCHUNGSSTOFF_450:CC_SOAP_BUCHUNGSSTOFF003&amp;version=3.0&amp;Sender.Service=BS_KISS_BUCHUNGSSTOFF_450&amp;Interface=http%3A%2F%2FSTZH%5EMI_KISS_BUCHSTOFF003</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_KlientengelderSaldoLesen_MI_KLIENTEN_EINZAHL_KOPFService"
                serializeAs="String">
                <value>http://szhm2179:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_KLIENTEN_EINZAHL_KOPF_SENDEN_450:CC_SOAP_GET_KLIENTEN_EINZAHL_KOPF&amp;version=3.0&amp;Sender.Service=BS_KISS_KLIENTEN_EINZAHL_KOPF_SENDEN_450&amp;Interface=http%3A%2F%2FSTZH%5EMI_KLIENTEN_EINZAHL_KOPF</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_Async_MahnlaufStarten_MI_KISS_ANSTOSS_MAHN_SOAP_OUTService"
                serializeAs="String">
                <value>http://szhm2179.stzh.ch:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_ANSTOSS_MAHN_450:CC_SOAP_KISS_ANSTOSS_MAHN_IN&amp;version=3.0&amp;Sender.Service=BS_KISS_ANSTOSS_MAHN_450&amp;Interface=http%3A%2F%2FSTZH+%5EMI_KISS_ANSTOSS_MAHN_SOAP_OUT</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_MahnungLesen_MI_READ_MAHNSService"
                serializeAs="String">
                <value>http://szhm2179.stzh.ch:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_BELEG_MAHNS_SENDEN_450:CC_SOAP_GET_BELEG_MAHNS&amp;version=3.0&amp;Sender.Service=BS_KISS_BELEG_MAHNS_SENDEN_450&amp;Interface=http%3A%2F%2FSTZH%5EMI_READ_MAHNS</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_BuchungsstoffAnlegen_MI_KISS_BUCHSTOFF001Service"
                serializeAs="String">
                <value>http://szhm2180.stzh.ch:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_BUCHUNGSSTOFF_I70_100:CC_SOAP_BUCHUNGSSTOFF001_I70&amp;version=3.0&amp;Sender.Service=BS_KISS_BUCHUNGSSTOFF_I70_100&amp;Interface=http%3A%2F%2FSTZH%5EMI_KISS_BUCHSTOFF001</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_BuchungsstoffMutieren_MI_KISS_BUCHSTOFF002Service"
                serializeAs="String">
                <value>http://szhm2179.stzh.ch:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_BUCHUNGSSTOFF_450:CC_SOAP_BUCHUNGSSTOFF002&amp;version=3.0&amp;Sender.Service=BS_KISS_BUCHUNGSSTOFF_450&amp;Interface=http%3A%2F%2FSTZH%5EMI_KISS_BUCHSTOFF002</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_VgAnlegen_MI_BUDGET_DATA001_VGService"
                serializeAs="String">
                <value>http://szhm2180.stzh.ch:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_BUDGET_DATA001_I70_401:CC_SOAP_BUDGET_DATA001_VG&amp;version=3.0&amp;Sender.Service=BS_KISS_BUDGET_DATA001_I70_401&amp;Interface=http%3A%2F%2FSTZH%5EMI_BUDGET_DATA001_VG</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_VgMutieren_MI_BUDGET_DATA002_VGService"
                serializeAs="String">
                <value>http://szhm2180.stzh.ch:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_BUDGET_DATA002_I70_401:CC_SOAP_BUDGET_DATA002_VG&amp;version=3.0&amp;Sender.Service=BS_KISS_BUDGET_DATA002_I70_401&amp;Interface=http%3A%2F%2FSTZH%5EMI_BUDGET_DATA002_VG</value>
            </setting>
            <setting name="KiSSSvc_SAP_PSCD_WebServiceHelper_WebReferences_FAMOZ2Test_MI_SD01_CREATE_WSService"
                serializeAs="String">
                <value>http://szhm2179.stzh.ch:8001/XISOAPAdapter/MessageServlet?channel=:BSV_FAMOZ_SD01_WS_OUT:CC_SD01_WS_OUT&amp;version=3.0&amp;Sender.Service=BSV_FAMOZ_SD01_WS_OUT&amp;Interface=http%3A%2F%2Fstzh.ch%2FFAMOZ_SD01_CREATE_WS%5EMI_SD01_CREATE_WS</value>
            </setting>
            <setting name="SAP_PSCD_WebServiceHelper_WebReferences_BpAnlegen_MI_BUDGET_DATA001Service"
                serializeAs="String">
                <value>http://szhm2179.stzh.ch:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_BUDGET_DATA001_I70_100:CC_SOAP_BUDGET_DATA001_I70&amp;version=3.0&amp;Sender.Service=BS_KISS_BUDGET_DATA001_I70_100&amp;Interface=http%3A%2F%2FSTZH%5EMI_BUDGET_DATA001</value>
            </setting>
            <setting name="KiSSSvc_Common_WebReferences_BpMutieren_MI_BUDGET_DATA002Service"
                serializeAs="String">
                <value>http://szhm2179.stzh.ch:8001/XISOAPAdapter/MessageServlet?channel=:BS_KISS_BUDGET_DATA002_I70_100:CC_SOAP_BUDGET_DATA002_I70&amp;version=3.0&amp;Sender.Service=BS_KISS_BUDGET_DATA002_I70_100&amp;Interface=http%3A%2F%2FSTZH%5EMI_BUDGET_DATA002</value>
            </setting>
        </KiSSSvc.SAP.PSCD.WebServiceHelper.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
