<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/></sectionGroup></sectionGroup></sectionGroup></configSections>
	<appSettings>
		<add key="PSCD.username" value="KOMM"/>
		<add key="PSCD.password" value="KOMM01"/>
		<add key="PSCD.proxy" value="http://localhost:81"/>
		<add key="PSCD.useMock" value="false"/>
		<add key="PSCD.serverUrl" value="http://szhm2179.stzh.ch:8001/"/>
		<add key="PSCD.urlBpAnlegenAsync" value="XISOAPAdapter/MessageServlet?channel=:BS_KISS_BUDGET_DATA_450:CC_SOAP_BUDGET_CREATE&amp;version=3.0&amp;Sender.Service=BS_KISS_BUDGET_DATA_450&amp;Interface=http://STZH^MI_BUDGET_CREA_SOAP_OUT"/>
		<add key="PSCD.urlBelegAnlegenAsync" value="XISOAPAdapter/MessageServlet?channel=:BS_KISS_BUDGET_DATA_450:CC_SOAP_BUDGET_CREATE&amp;version=3.0&amp;Sender.Service=BS_KISS_BUDGET_DATA_450&amp;Interface=http://STZH^MI_BUDGET_CREA_SOAP_OUT"/>
		<add key="PSCD.urlBpAnlegen" value="XISOAPAdapter/MessageServlet?channel=:KISS_BUDGET_DATA001:CC_SOAP_BUDGET_DATA001&amp;version=3.0&amp;Sender.Service=KISS_BUDGET_DATA001&amp;Interface=http://STZH^MI_BUDGET_DATA001"/>
		<add key="PSCD.locationBudgetData" value="XISOAPAdapter/MessageServlet?channel=:KISS_BUDGET_DATA001:CC_SOAP_BUDGET_DATA001&amp;version=3.0&amp;Sender.Service=KISS_BUDGET_DATA001&amp;Interface=http://STZH^MI_BUDGET_DATA001"/>
		<add key="PSCD.locationBuchungsstoff" value="XISOAPAdapter/MessageServlet?channel=:BS_KISS_BUCHUNGSSTOFF:CC_SOAP_BUCHUNGSSTOFF&amp;version=3.0&amp;Sender.Service=BS_KISS_BUCHUNGSSTOFF&amp;Interface=http://STZH^MI_BUCHUNGSSTOFF"/>
		<add key="PSCD.locationKontenstandAbfrage" value="XISOAPAdapter/MessageServlet?channel=:BS_KISS_KONTENSTAND:CC_SOAP_KONTENSTAND_OUT&amp;version=3.0&amp;Sender.Service=BS_KISS_KONTENSTAND&amp;Interface=http://STZH^MI_KONTENSTAND_GET"/>
		<add key="PSCD.locationAusgleichsInfo" value="XISOAPAdapter/MessageServlet?channel=:CC_SOAP_GET_AUSGLEICH_001:CC_SOAP_GET_AUSGLEICH_001&amp;version=3.0&amp;Sender.Service=CC_SOAP_GET_AUSGLEICH_001&amp;Interface=http://STZH^MI_AUSGL_SENDEN_NEW"/>
		<add key="PSCD.serverUrlMock" value="http://localhost.:8001/"/>
		<add key="PSCD.locationBudgetDataMock" value="HttpHandler.ashx?type=CreateBusinessPartner"/>
		<!-- number of environments -->
		<add key="EnvCount" value="1"/>
		<add key="Env0.Name" value="KiSSDB"/>
		<add key="Env0.ConnectionString" value="server=CHBEN071;initial catalog=KiSS4_MASTER_ZH;Trusted_Connection=Yes;"/>
	</appSettings>
	<connectionStrings>
		<add name="KiSSSvc.DAL.Properties.Settings.KiSS_40_MASTERConnectionString" connectionString="Data Source=CHBEN071;Initial Catalog=KiSS4_MASTER_ZH;Trusted_Connection=Yes;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<log4net treshold="OFF">
		<appender name="FileLog" type="log4net.Appender.RollingFileAppender">
			<file value="c:\temp\Notification.txt"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="100KB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c %ndc - %m%n"/>
			</layout>
		</appender>
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="FileLog"/>
		</root>
	</log4net>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></controls></pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpModules></system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/></compiler></compilers></system.codedom>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></handlers></system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727"><dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly></assemblyBinding></runtime></configuration>
