<div class="app-content2">
    <div class="app-content2-header">
        <span>List data</span>
    </div>
    <div class="app-content2-body">
        <!--<dx-data-grid id="gridContainer" [dataSource]="orders" [rowAlternationEnabled]="true">
            <dxo-selection [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple"></dxo-selection>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row>
            <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
            <dxi-column dataField="OrderNumber" [width]="140" caption="Invoice Number">
                <dxo-header-filter [groupInterval]="10000"></dxo-header-filter>
            </dxi-column>
            <dxi-column dataField="OrderDate" alignment="right" dataType="date" [width]="120" [calculateFilterExpression]="calculateFilterExpression">
                <dxo-header-filter [dataSource]="orderHeaderFilter"></dxo-header-filter>
            </dxi-column>
            <dxi-column dataField="DeliveryDate" alignment="right" dataType="datetime" format="M/d/yyyy, HH:mm" [width]="180"></dxi-column>
            <dxi-column dataField="SaleAmount" alignment="right" format="currency">
                <dxo-header-filter [dataSource]="saleAmountHeaderFilter"></dxo-header-filter>
            </dxi-column>
            <dxi-column dataField="Employee"></dxi-column>
            <dxi-column dataField="CustomerStoreCity" caption="City">
                <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
            </dxi-column>
        </dx-data-grid>-->
    </div>
</div>
