<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="TestDB" connectionString="server=sql2014.diartislocal.local\sql2014;initial catalog=KiSS_Standard_TestRelease_R4939;user id=kiss3;password=kiss2012" providerName="System.Data.SqlClient"/>
        <add name="TestDBKiss5" connectionString="server=sql2014.diartislocal.local\sql2014;initial catalog=KiSS_Standard_TestRelease_R5239;user id=kiss3;password=kiss2012" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>