<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>

		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="KiSSSvc.Test.TestGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<add name="kissdb" connectionString=""/>

	</connectionStrings>

	<appSettings>
		<add key="PSCD.username" value="KOMM"/>
		<add key="PSCD.password" value="KOMM01"/>
		<add key="PSCD.proxy" value="http://localhost:81"/>
		<add key="PSCD.useMock" value="false"/>
		<add key="PSCD.serverUrl" value="http://szhm2179.stzh.ch:8001/"/>
		<add key="PSCD.locationBudgetData" value="XISOAPAdapter/MessageServlet?channel=:KISS_BUDGET_DATA001:CC_SOAP_BUDGET_DATA001&amp;version=3.0&amp;Sender.Service=KISS_BUDGET_DATA001&amp;Interface=http://STZH^MI_BUDGET_DATA001"/>
		<add key="PSCD.locationBuchungsstoff" value="XISOAPAdapter/MessageServlet?channel=:BS_KISS_BUCHUNGSSTOFF:CC_SOAP_BUCHUNGSSTOFF&amp;version=3.0&amp;Sender.Service=BS_KISS_BUCHUNGSSTOFF&amp;Interface=http://STZH^MI_BUCHUNGSSTOFF"/>
		<add key="PSCD.locationKontenstandAbfrage" value="XISOAPAdapter/MessageServlet?channel=:BS_KISS_KONTENSTAND:CC_SOAP_KONTENSTAND_OUT&amp;version=3.0&amp;Sender.Service=BS_KISS_KONTENSTAND&amp;Interface=http://STZH^MI_KONTENSTAND_GET"/>
		<add key="PSCD.locationAusgleichsInfo" value="XISOAPAdapter/MessageServlet?channel=:CC_SOAP_GET_AUSGLEICH_001:CC_SOAP_GET_AUSGLEICH_001&amp;version=3.0&amp;Sender.Service=CC_SOAP_GET_AUSGLEICH_001&amp;Interface=http://STZH^MI_AUSGL_SENDEN_NEW"/>
		<add key="PSCD.serverUrlMock" value="http://localhost.:8001/"/>
		<add key="PSCD.locationBudgetDataMock" value="HttpHandler.ashx?type=CreateBusinessPartner"/>
		<add key="dbConnectionString" value="server=(local);initial catalog=KiSS_40_NUnitTest;Trusted_Connection=Yes;"/>
		<add key="Alpha.DsnName" value="Alpha-Daten"/>
		<add key="Alpha.DriverName" value="iSeries Access ODBC Driver"/>
		<add key="Alpha.UserName" value="FSAPSS"/>
		<add key="Alpha.Password" value="Serv01"/>

		<!-- number of environments -->
		<add key="EnvCount" value="1"/>

		<add key="Env0.Name" value="KiSSDB"/>
		<add key="Env0.ConnectionString" value="server=CHBEN057;initial catalog=KiSS4_MIGRATION_ZH;Trusted_Connection=Yes;"/>
		<!--
		<add key="Env0.ConnectionString" value="server=SOZM9500\SOZ_KISS;initial catalog=KiSS4_PROTO_SPIELWIESE_3;Trusted_Connection=Yes;" />
		-->
	</appSettings>
	<log4net treshold="OFF">
		<appender name="FileLog" type="log4net.Appender.RollingFileAppender">
			<file value="c:\temp\test.txt"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="100KB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c %ndc - %m%n"/>
			</layout>
		</appender>
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="FileLog"/>
		</root>
	</log4net>

	<applicationSettings>
		<KiSSSvc.Test.TestGUI.Properties.Settings>
			<setting name="KiSSSvc_Test_TestGUI_NotificationWebReference_NotificationSvc" serializeAs="String">
				<value>http://10.1.100.62/Notification.asmx</value>
			</setting>
			<setting name="KiSSSvc_Test_TestGUI_SettlementInfoReference_SettlementInfo" serializeAs="String">
				<value>http://localhost:2621/SettlementInfo.asmx</value>
			</setting>
		</KiSSSvc.Test.TestGUI.Properties.Settings>
	</applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
