SET QUOTED_IDENTIFIER OFF;
GO
SET ANSI_NULLS ON;
GO
EXECUTE dbo.spDropObject spXDBVersionAddEntry;
GO
/*===============================================================================================
  $Archive: /Database/KiSS4_PI_MasterDev/Stored Procedures/System/spXDBVersionAddEntry.SQL $
  $Author: Cjaeggi $
  $Modtime: 4.01.10 10:18 $
  $Revision: 5 $
=================================================================================================
  Description
-------------------------------------------------------------------------------------------------
  SUMMARY:  Use this sp to create a new entry in table XDBVersion, used for validation with 
            KiSS client version to db version
    @MajorVersion: .                        The major version number
    @MinorVersion:                          The minor version number
    @Build:                                 The build number of the version
    @Revision:                              The revision number of the version
    @BackwardCompatibleDownToClientVersion: Minimum client version that is required for given db version
    @Description:                           The additional description for new db-version entry (e.g. release)
    @UserID:                                The id of the user who creates the new entry
  -
  RETURNS: nothing
  -
  TEST:    EXEC spXDBVersionAddEntry @MajorVersion=4, @MinorVersion=1, @Build=40, @Revision=0, @BackwardCompatibleDownToClientVersion='4.1.40.0', @Description='Erste DB-Version'
=================================================================================================
  $Log: /Database/KiSS4_PI_MasterDev/Stored Procedures/System/spXDBVersionAddEntry.SQL $
 * 
 * 5     4.01.10 10:19 Cjaeggi
 * Fixed bug with ConcDistinctOrder
 * 
 * 4     4.01.10 8:55 Cjaeggi
 * Added semicolon
 * 
 * 3     2.10.09 9:52 Cjaeggi
 * Fixed bug with renamed column
 * 
 * 2     2.10.09 9:51 Cjaeggi
 * Changed formatting and fixed to fit standard
=================================================================================================*/

CREATE PROCEDURE dbo.spXDBVersionAddEntry
(
  @MajorVersion INT,
  @MinorVersion INT,
  @Build INT,
  @Revision INT,
  @BackwardCompatibleDownToClientVersion VARCHAR(20),
  @Description VARCHAR(500) = NULL,
  @UserID INT = NULL
)
AS 
BEGIN
  -------------------------------------------------------------------------------
  -- start call
  -------------------------------------------------------------------------------
  SET NOCOUNT ON;
  
  -------------------------------------------------------------------------------
  -- init vars
  -------------------------------------------------------------------------------
  DECLARE @SQLServerVersionInfo VARCHAR(500);
  DECLARE @ChangesSinceLastVersion VARCHAR(MAX);
  DECLARE @LastDBVersionID INT;
  DECLARE @LastVersionDate DATETIME;
  
  -------------------------------------------------------------------------------
  -- combine the server information
  -------------------------------------------------------------------------------
  SELECT @SQLServerVersionInfo = CONVERT(VARCHAR, SERVERPROPERTY('Edition')) + 
                                 ', V. ' + CONVERT(VARCHAR,SERVERPROPERTY('ProductVersion')) + 
                                 ', Level ' + CONVERT(VARCHAR, SERVERPROPERTY('ProductLevel')) + 
                                 ', Collation ' + CONVERT(VARCHAR, SERVERPROPERTY('Collation'));
  
  -------------------------------------------------------------------------------
  -- find the last XDBVersion entry
  -------------------------------------------------------------------------------
  SET @LastDBVersionID = dbo.fnXDBVersionGetCurrentDBVersionID();
  
  -------------------------------------------------------------------------------
  -- get the date of the last DBVersion entry
  -------------------------------------------------------------------------------
  SELECT @LastVersionDate = VersionDate 
  FROM dbo.XDBVersion WITH (READUNCOMMITTED)
  WHERE XDBVersionID = @LastDBVersionID;
  
  -- check if we have a last version
  IF (@LastVersionDate IS NOT NULL)
  BEGIN
    -- get all db-object changes since last entry and concatenate them together including the type and name of the changed objects
    SELECT @ChangesSinceLastVersion = STUFF((SELECT CONVERT(VARCHAR(MAX), SUB.Text)
                                             FROM (SELECT DISTINCT
                                                          [Text]  = ', ' + OBJ.type_desc COLLATE database_default + ' [' + OBJ.name COLLATE database_default + ']',
                                                          [Order] = OBJ.type_desc COLLATE database_default + ' [' + OBJ.name COLLATE database_default + ']'
                                                   FROM sys.all_objects OBJ
                                                   WHERE OBJ.modify_date >= @LastVersionDate) AS SUB 
                                             ORDER BY SUB.[Order]
                                             FOR XML PATH('')), 1, 2, '');
  
    -- combine changes with comment
    SET @ChangesSinceLastVersion = 'Changes since ' + CONVERT(VARCHAR, @LastVersionDate) + ': ' + ISNULL(@ChangesSinceLastVersion, '<none>');
  END;
  
  -------------------------------------------------------------------------------
  -- create new entry
  -------------------------------------------------------------------------------
  INSERT INTO dbo.XDBVersion (MajorVersion, MinorVersion, Build, Revision, VersionDate, SQLServerVersionInfo, ChangesSinceLastVersion, BackwardCompatibleDownToClientVersion, Description, Creator, Modifier)
  VALUES (@MajorVersion, 
          @MinorVersion, 
          @Build, 
          @Revision, 
          GETDATE(), 
          @SQLServerVersionInfo, 
          @ChangesSinceLastVersion, 
          @BackwardCompatibleDownToClientVersion, 
          @Description, 
          ISNULL(dbo.fnGetDBRowCreatorModifier(@UserID), ''), 
          ISNULL(dbo.fnGetDBRowCreatorModifier(@UserID), ''));
END;
GO
