SET QUOTED_IDENTIFIER OFF;
GO
SET ANSI_NULLS ON;
GO
EXECUTE dbo.spDropObject spXDBVersionGetCurrentVersion;
GO
/*===============================================================================================
  $Revision: 4 $
=================================================================================================
  Description
-------------------------------------------------------------------------------------------------
  SUMMARY: Use this sp to get the current valid db version information
  -
  RETURNS: The current valid entry of the db version
  -
=================================================================================================
  TEST:    EXEC dbo.spXDBVersionGetCurrentVersion
=================================================================================================*/

CREATE PROCEDURE dbo.spXDBVersionGetCurrentVersion
AS 
BEGIN
  -------------------------------------------------------------------------------
  -- start call
  -------------------------------------------------------------------------------
  SET NOCOUNT ON;
  
  -------------------------------------------------------------------------------
  -- get data
  -------------------------------------------------------------------------------
  SELECT DBV.XDBVersionID,
         DBV.MajorVersion,
         DBV.MinorVersion,
         DBV.Build,
         DBV.Revision,
         DBV.VersionDate,
         DBV.SQLServerVersionInfo,
         DBV.ChangesSinceLastVersion,
         DBV.BackwardCompatibleDownToClientVersion,
         DBV.Description,
         DBV.Creator,
         DBV.Created,
         DBV.Modifier,
         DBV.Modified,
         DBV.XDBVersionTS
  FROM dbo.XDBVersion DBV WITH (READUNCOMMITTED)
  WHERE DBV.XDBVersionID =  dbo.fnXDBVersionGetCurrentDBVersionID();
END;
GO
