<?xml version="1.0"?>
<configuration>
  <!--
    Info zu den Webservice-Verbindungen:
      Im Knoten
        <client>
          <endpoint address="..." />
        </client>
      ist die Adresse des jeweiligen Services anzugeben. Die Adresse muss den spezifischen Service-Endpoint beinhalten, also z.B. auf "/KissEinwohnerregisterService.svc" enden!
      Im Knoten
        <bindings>
          <basicHttpBinding>
            <binding />
          </basicHttpBinding>
        </bindings>
      können die Timeouts für die Verbindungen eingestellt werden. Standardmässig sind die Attribute receiveTimeout & sendTimeout auf "04:00:00" (= 4 Stunden) gesetzt.

    Info zu den Einstellungen im <applicationSettings>-Knoten:
      Die hier eingestellten Werte werden als Standard genommen, wenn sie nicht als Kommandozeilenparameter beim Programmstart übergeben worden sind.
      Detaillierte Infos werden vom Programm ausgegeben, wenn es mit dem Parameter /?, /h oder /help aufgerufen wird: "Kiss.Server.WebserviceStarter.exe /?"
    - Allgemein:
      - ServiceName: Der Name des standardmässig zu verwendenden Services.
      - MethodName: Der Name des standardmässig zu verwendenden Service-Methode.
      - DbName: Wird verwendet, damit ein Befehl nicht auf der falschen DB ausgeführt wird. Muss übereinstimmen mit der im Webservice (Web.config) konfigurierten DB.
    - E-Mail notification:
      - EmailNotificationLevel: Gibt an, wann eine E-Mail verschickt wird. Mögliche Werte sind: Always, Failure, Never
      - EmailSmtpHost: Server-Name/URL des SMTP-Servers, über welchen die Mails verschickt werden
      - EmailSmtpPort: Port des SMTP-Servers
      - EmailSmtpUsername: Benutzername, mit welchem die Verbindung zum SMTP-Server hergestellt wird. Wenn dies leer gelassen wird, werden die Credentials des ausführenden Benutzers verwendet.
      - EmailSmtpPassword: Passwort, mit welchem die Verbindung zum SMTP-Server hergestellt wird. Wird nur verwendet, wenn EmailSmtpUsername angegeben ist.
      - EmailFrom: Absender-Adresse für Email-Benachrichtigungen.
      - EmailRecipients: Eine kommaseparierte Liste mit E-Mail-Adressen, an welche die generierten Mails verschickt werden.
      - EmailSubject_Success: Der Betreff einer E-Mail, wenn die Verarbeitung erfolgreich war. "{method}" wird ersetzt mit der Bezeichnung des Aufrufs.
      - EmailBody_Success: Der Inhalt einer E-Mail, wenn die Verarbeitung erfolgreich war. "{method}" wird ersetzt mit der Bezeichnung des Aufrufs, "{newline}" wird mit einem Zeilenumbruch ersetzt.
      - EmailSubject_Failure: Der Betreff einer E-Mail, wenn die Verarbeitung fehlgeschlagen ist. "{method}" wird ersetzt mit der Bezeichnung des Aufrufs.
      - EmailBody_Failure: Der Inhalt einer E-Mail, wenn die Verarbeitung fehlgeschlagen ist. "{method}" wird ersetzt mit der Bezeichnung des Aufrufs, {message} wird ersetzt mit der aufgetretenen Fehlermeldung, "{newline}" wird mit einem Zeilenumbruch ersetzt.
      Wenn eine E-Mail nicht versendet werden konnte, wird dies in dem Log-File ausgewiesen (konfiguriert im "log4net"-Knoten, Standard: "Kiss.Server.WebserviceStarter.log").
    - KissIbanService:
      - IbanClearingNr: Die Clearing-Nummer für den Test des Iban-Services.
      - IbanKontoNr: Die Konto-Nummer für den Test des Iban-Services.
    - KissEinwohnerregisterService:
      - EventPacketSize: Die Anzahl Dateien, die bei der Verarbeitung der Omega-Ereignisse auf ein Mal verarbeitet werden.
      - IncludeFailedEvents: Gibt an, ob bei der Verarbeitung der Omega-Ereignisse vorher als fehlerhaft markierte Ereignisse nochmals verarbeitet werden sollen.
    - KissWorkerProcess:
      - ZkbDokumenteImportMinSize: Die minimale Grösse, die ein PDF-Dokument haben muss, um importiert zu werden (Anzahl Bytes).
      - WorkerProcessUserId: Die UserID, die zu Loggin-Zwecken bei dem Import der ZKB-Dokumente bzw. der Generierung der IK-Auszüge verwendet wird.
  -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Kiss.Server.WebserviceStarter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IKissEinwohnerregisterService"
          receiveTimeout="04:00:00" sendTimeout="04:00:00" />
        <binding name="BasicHttpBinding_IKissIbanService"
          receiveTimeout="04:00:00" sendTimeout="04:00:00" />
        <binding name="WorkerProcessSvcSoap"
          receiveTimeout="04:00:00" sendTimeout="04:00:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52671/KissEinwohnerregisterService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKissEinwohnerregisterService"
        contract="KissEinwohnerregisterService.IKissEinwohnerregisterService"
        name="BasicHttpBinding_IKissEinwohnerregisterService" />
      <endpoint address="http://localhost:55101/KissIbanService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKissIbanService"
        contract="KissIbanService.IKissIbanService" name="BasicHttpBinding_IKissIbanService" />
      <endpoint address="http://localhost:64486/WorkerProcess.asmx"
        binding="basicHttpBinding" bindingConfiguration="WorkerProcessSvcSoap"
        contract="WorkerProcessSvc.WorkerProcessSvcSoap" name="WorkerProcessSvcSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Kiss.Server.WebserviceStarter.Properties.Settings>
      <setting name="ServiceName" serializeAs="String">
        <value>KissEinwohnerregisterService</value>
      </setting>
      <setting name="MethodName" serializeAs="String">
        <value>GetServerVersion</value>
      </setting>
      <setting name="DbName" serializeAs="String">
        <value>KiSS_ZH_TestRelease_R4939</value>
      </setting>
      <setting name="EmailNotificationLevel" serializeAs="String">
        <value>Failure</value>
      </setting>
      <setting name="EmailSmtpHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="EmailSmtpPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="EmailSmtpUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailSmtpPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailFrom" serializeAs="String">
        <value>notification@webservicestarter</value>
      </setting>
      <setting name="EmailRecipients" serializeAs="String">
        <value>mailbox@domain, other@otherdomain</value>
      </setting>
      <setting name="EmailSubject_Success" serializeAs="String">
        <value>Verarbeitung '{method}' erfolgreich</value>
      </setting>
      <setting name="EmailSubject_Failure" serializeAs="String">
        <value>Verarbeitung '{method}' fehlgeschlagen</value>
      </setting>
      <setting name="EmailBody_Success" serializeAs="String">
        <value>Die Verarbeitung '{method}' wurde erfolgreich abgeschlossen.</value>
      </setting>
      <setting name="EmailBody_Failure" serializeAs="String">
        <value>Bei der Verarbeitung '{method}' ist folgende Fehlermeldung aufgetreten:{newline}{message}</value>
      </setting>
      <setting name="IbanKontoNr" serializeAs="String">
        <value>315.404.10C</value>
      </setting>
      <setting name="IbanClearingNr" serializeAs="String">
        <value>0235</value>
      </setting>
      <setting name="EventPacketSize" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="IncludeFailedEvents" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ZkbDokumenteImportMinSize" serializeAs="String">
        <value>102400</value>
      </setting>
      <setting name="WorkerProcessUserId" serializeAs="String">
        <value>0</value>
      </setting>
    </Kiss.Server.WebserviceStarter.Properties.Settings>
  </applicationSettings>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- Hier kann auch ein absoluter Pfad zum Speicherort der Log-Datei angegeben werden: -->
      <file value="Kiss.Server.WebserviceStarter.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5000KB" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <!--
        Standardmässig werden nur Log-Informationen der Stufe "error" oder höher in die Datei Kiss.Server.WebserviceStarter.log geschrieben.
        Wird der Wert auf "trace" gesetzt, werden sämtliche Informationen abgespeichert.
      -->
      <!--<threshold value="debug" />-->
      <threshold value="error" />
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d %m%n" />
      </layout>
      <threshold value="trace" />
      <!--<threshold value="error" />-->
    </appender>

    <root>
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>