<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- User application and configured property settings go here. -->

    <!-- Visual SourceSafe Settings
        Example:
        <add key="ssIni"        value="C:\Temp\VSS_XClass\srcsafe.ini" />
        <add key="ssProject"    value="$/" />
        <add key="ssWorkFolder" value="C:\Projects\KiSS40\Database\Masken" />
    -->
    <add key="ssIni"        value="" />
    <add key="ssProject"    value="" />
    <add key="ssWorkFolder" value="" />

    <!-- KissUpdate 
				Example:
				<add key="UpdateSource" value="C:\KissUpdate\Current" />
				<add key="KissUpdate"   value="C:\KissUpdate\KissUpdate.exe" />		
		-->
    <add key="UpdateSource" value="" />
    <add key="KissUpdate"   value="" />

    <!-- Use single instance? -->
    <add key="SingleInstance" value="false" />

    <!-- Kiss Environment -->
    <add key="EnvCount" value="1" /> <!-- number of environments -->

    <add key="Env0.Name" value="Testsystem" />
    <add key="Env0.EnvType" value="Test" /> <!--  Prod, Train, Test, Dev  -->
    <add key="Env0.ConnectionString" value="server=localhost;initial catalog=KiSS4_TEST_DEMO;user id=KiSS3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

    <!-- Template Produktion
		<add key="EnvCount" value="2" />

		<add key="Env0.Name" value="Produktion" />
		<add key="Env0.EnvType" value="Prod" />
		<add key="Env0.ConnectionString" value="server=localhost;initial catalog=KiSS4_PROD_DEMO;user id=KiSS3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

		<add key="Env1.Name" value="Schulung" />
		<add key="Env1.EnvType" value="Train" />
		<add key="Env1.ConnectionString" value="server=localhost;initial catalog=KiSS4_TRAIN_DEMO;Trusted_Connection=Yes;" />
-->
  </appSettings>
</configuration>
