<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IKissEinwohnerregisterService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52671/KissEinwohnerregisterService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKissEinwohnerregisterService" contract="EinwohnerregisterService.IKissEinwohnerregisterService" name="BasicHttpBinding_IKissEinwohnerregisterService"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
