<div class="wrapper-main" #wrapperContainer style="overflow: auto; height: 100%;">
    <app-header 
        (selectLanguage)="layoutSandbox.selectLanguage($event)" 
        (logout)="layoutSandbox.logout()" 
        [selectedLanguage]="layoutSandbox.selectedLang$ | async"
        [availableLanguages]="layoutSandbox.availableLanguages$ | async" 
        [userImage]="userImage" [userEmail]="userEmail"
        [itemMenus]="layoutSandbox.itemMenus$ | async" 
        (selectMenu)="selectMenu($event.itemData)"
        [searchBoxsData]="layoutSandbox.searchBoxsData$ | async">
    </app-header>
    <ng-content></ng-content>    
</div>
