<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KACon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${APPDATA}\Bedag Informatik\KiSS\log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5000KB"/>
      <datePattern value="yyyyMMdd"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>

    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <remoteAddress value="127.0.0.1"/>
      <remotePort value="9090"/>
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true"/>
      </layout>
    </appender>

    <appender name="ChainsawAppender" type="log4net.Appender.FileAppender">
      <file value="${APPDATA}\Bedag Informatik\KiSS\log.xml"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true"/>
      </layout>
    </appender>

    <!--
        <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
            <param name="File" value="DadasLog.txt" />
            <param name="AppendToFile" value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="Header" value="[Header]\r\n" />
                <param name="Footer" value="[Footer]\r\n" />
                <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
            </layout>
        </appender>
        -->

    <root>
      <level value="debug"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="UdpAppender"/>
      <appender-ref ref="ChainsawAppender"/>
      <!--<appender-ref ref="LogFileAppender" />-->
    </root>

    <logger name="ch.bedag.KACon">
      <level value="debug"/>
    </logger>
  </log4net>
  <appSettings>
    <!-- === KiSS Settings ================================================================ -->
    <!-- Use single instance of KiSS4.exe? -->
    <add key="SingleInstance" value="false"/>

    <!-- Here define all processes which are locking documents. Do not remove ";" at start and end !!! -->
    <add key="LockingDocumentEXEs" value=";OUTLOOK;ACRORD32;WINWORD;MSPVIEW;"/>

    <!-- Here define all processes which are not locking documents. Do not remove ";" at start and end !!! -->
    <add key="NotLockingDocumentEXEs" value=";IEXPLORE;NOTEPAD;"/>

    <!-- Here we optionally define the login-dialog settings -->
    <add key="Login.Sizeable" value="true"/>
    <add key="Login.ShowFilter" value="true"/>
    <add key="Login.AutoTryLogin" value="false"/>

    <!-- === KissUpdate =======================================================================
            Example:
            <add key="UpdateSource" value="\\bisrv1021\share\KiSS\KiSS4 Trunk" />

            <add key="UpdateSource" value="\\bisrv1021\share\KiSS\KiSS4.5.06"/>
            
            <add key="UpdateFile" value="Kiss_Update.zip"/>
    -->

    <!-- === Kiss Environment ============================================================ -->
    <!--
            Available Environment Types:
            - Prod (orange)
            - Train (blue)
            - Test (yellow)
            - Dev (green)
        -->
    <!-- number of environments -->
    <add key="EnvCount" value="2"/>

    <!-- Standard -->
    <add key="Env0.Name" value=".: KiSS_Standard_R4544 (bisrv1029/schinti) :."/>
    <add key="Env0.EnvType" value="Test"/>
    <add key="Env0.ConnectionString" value="server=bisrv1029.ad.bedag.ch\A99TDBSE02;initial catalog=KiSS_Standard_R4544;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;"/>
  </appSettings>
  <system.serviceModel>
    <!--
        <client>
            <endpoint address="http://szhm5200:8000/Kiss.Server.PSCD/"
                      binding="basicHttpBinding"
                      contract="KbuTransferlaufWebService.IKbuTransferlaufWebService"
                      name="Endpoint_BasicHttpBinding_IKbuTransferlaufWebService" />
            <endpoint address="http://szhm5200/Kiss.Server.PSCD/Kiss.Server.PSCD.SstZahlungseingaengeAbholenWebService.svc"
                      binding="basicHttpBinding"
                      contract="SstZahlungseingaengeAbholenWebService.ISstZahlungseingaengeAbholenWebService"
                      name="Endpoint_BasicHttpBinding_ISstZahlungseingaengeAbholenWebService" />
        </client>
      -->

    <!-- Diese Zeile entfernen, um WCF-Tracing zu aktivieren
    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="false"
           logMessagesAtTransportLevel="true"
           maxMessagesToLog="300000000"
           maxSizeOfMessageToLog="200000"/>
    </diagnostics>
    -->
  </system.serviceModel>

  <system.diagnostics>
    <!-- Diese Zeile entfernen, um WCF-Tracing zu aktivieren
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages"
          type="System.Diagnostics.XmlWriterTraceListener"
          initializeData="c:\temp\logs\messages.svclog" />
        </listeners>
      </source>
    </sources>
    -->
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>