<app-layout [isNavbar]="true">
    <div class="layout-content">
        <app-left-sidebar [isNavbar]="true">
            <app-selected-actions 
            [selectedActions]="dossierSandbox.selectedAction$ | async" 
            (onItemClick)="onClickSelectAction($event.itemData)"
            (onDeleteClick)="onDeleteSelectAction($event.itemData)">
            </app-selected-actions>
            <app-dossier-details [itemData]="dossierSandbox.dossierDetail$ | async">
            </app-dossier-details>            
        </app-left-sidebar>

        <section id="wrapper-content">
            <router-outlet></router-outlet>
        </section>
    </div>

</app-layout>