@import '../reset';
@import '../variables';
@import '../mixins-css3';
@import '/forms';
@import '/grids';
@import '/controls';
@import '/utilities';
@import '/repositories';
body {
    font-family: $base-ft;
    font-size: $base-fz;
    font-weight: $base-fw;
    color: $color-black;
    background-color: $color-bg-body;
    overflow: hidden;
}

.wrapper-main {
    position: relative;
    &.toggle--sidebar {
        .sidebar {
            // width: 15px;
            -webkit-transform: translateX(-285px) !important;
            -moz-transform: translateX(-285px) !important;
            -ms-transform: translateX(-285px) !important;
            -o-transform: translateX(-285px) !important;
            transform: translateX(-285px) !important;
            >.sider-bar-panel-hidden {
                background-color: darken($color: $color-bg-body, $amount: 10);
                >.sidebar-content {
                    p {
                        display: block !important;
                    }
                }
            }
            >.sider-bar-panel-content {
                display: none;
                .sidebar-header {
                    h3 {
                        display: none;
                    }
                }
            }
            >div {
                &.sider-bar-panel-hidden {
                    height: 100%;
                }
            }
        }
        #wrapper-content {
            width: calc(100% - 45px);
        }
    }
}

#app-navbar {
    height: 45px;
    background: $color-base;
    color: $color-white;
    border-top: 1px solid $color-grey-light;
    right: 5px;
    left: 0;
    top: 0;
    position: absolute;
}

.layout-content {
    position: relative;
    margin: 45px 0;
    height: 100vh;
    width: 100%;
    #wrapper-content {
        width: calc(100% - 330px);
        padding: 45px 0;
        height: 100%;
        position: relative;
        float: right;
        padding: 0;
        @include css3-prefix(transition,
        width 0.3s);
        >h1 {
            margin: 15px 0 5px 0;
            padding: 5px 0;
            font-size: 24px;
            border-bottom: 1px solid $color-grey-light;
        }
        .page-content {
            position: relative;
            top: 45px;
            height: 100%;
            .inner {
                height: calc(100% - 145px);
                overflow: auto;
            }
        }
    }
}

.sidebar {
    // tree view
    .dx-treeview .dx-treeview-item {
        padding: 0 !important;
    } // ----------- Dossier ----------
    .selected-actions.box-dossier {
        height: 260px;
        position: relative;
        .selected-actions-container {
            position: absolute;
            bottom: 0;
            .dx-scrollview-content {
                .dx-list-item {
                    // Item
                    .dx-list-item-content {
                        padding: 5px 10px !important;
                        outline: none;
                        &.current {
                            // Active
                            &:focus {
                                outline: none;
                                color: #333;
                            }
                            background-color: #F5F5F5; // &+div {
                            //     background-color: #F5F5F5;
                            // }
                        }
                        .item {
                            // Content
                            display: flex;
                            align-items: center;
                            .icon {
                                flex: 1;
                                img {
                                    height: 25px;
                                }
                            }
                            .name {
                                flex: 6;
                            }
                            .age {
                                flex: 0;
                            }
                        }
                    }
                    &:focus-within,
                    &.dx-state-hover,
                    &.dx-state-active,
                    &.dx-state-focused {
                        background-color: #F5F5F5;
                        color: #333;
                        .dx-list-item-after-bag.dx-list-static-delete-button-container {
                            width: 35px;
                            visibility: visible !important;
                            background: #F44336 !important;
                        }
                    }
                    .dx-list-item-after-bag.dx-list-static-delete-button-container {
                        width: 0px;
                        transition: all 0.5s;
                        background: #d0d0d0;
                        .dx-list-static-delete-button {
                            margin-right: 0px;
                        }
                        .dx-button {
                            border-radius: unset;
                            border: unset;
                            background-color: #d0d0d0;
                            .dx-button-content {
                                padding: 10px 9px 11px 9px;
                            }
                            &:focus-within,
                            &.dx-state-hover,
                            &.dx-state-active,
                            &.dx-state-focused {
                                background: #F44336;
                                border-color: #F44336;
                                .dx-icon {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    } // -----------END Dossier ----------
}