<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KACon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <log4net>
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="${APPDATA}\Diartis\KiSS\log.txt" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="10" />
            <maximumFileSize value="5000KB" />
            <datePattern value="yyyyMMdd" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
            </layout>
        </appender>

        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <param name="Header" value="[Header]\r\n" />
                <param name="Footer" value="[Footer]\r\n" />
                <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
            </layout>
        </appender>

        <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
            <remoteAddress value="127.0.0.1" />
            <remotePort value="9090" />
            <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
                <locationInfo value="true" />
            </layout>
        </appender>

        <appender name="ChainsawAppender" type="log4net.Appender.FileAppender">
            <file value="${APPDATA}\Diartis\KiSS\log.xml" />
            <appendToFile value="true" />
            <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
                <locationInfo value="true" />
            </layout>
        </appender>

        <!--
        <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
            <param name="File" value="DadasLog.txt" />
            <param name="AppendToFile" value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="Header" value="[Header]\r\n" />
                <param name="Footer" value="[Footer]\r\n" />
                <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
            </layout>
        </appender>
        -->

        <root>
            <level value="debug" />
            <appender-ref ref="RollingFileAppender" />
            <appender-ref ref="ConsoleAppender" />
            <appender-ref ref="UdpAppender" />
            <appender-ref ref="ChainsawAppender" />
            <!--<appender-ref ref="LogFileAppender" />-->
        </root>

        <logger name="ch.diartis.KACon">
            <level value="debug" />
        </logger>
    </log4net>
    <appSettings>
        <!-- === KiSS Settings ================================================================ -->
        <!-- Use single instance of KiSS4.exe? -->
        <add key="SingleInstance" value="false" />

        <!-- Here define all processes which are locking documents. Do not remove ";" at start and end !!! -->
        <add key="LockingDocumentEXEs" value=";OUTLOOK;ACRORD32;WINWORD;MSPVIEW;" />

        <!-- Here define all processes which are not locking documents. Do not remove ";" at start and end !!! -->
        <add key="NotLockingDocumentEXEs" value=";IEXPLORE;NOTEPAD;" />

        <!-- === KissUpdate =======================================================================
            Example:
            <add key="UpdateSource" value="\\CHBES004.chbe01.local\Realsystem\30_Leistungserbringung\33-37_Projekte\_intern\KiSS_Produktentwicklung\36_Entwicklung\Current Build" />
            <add key="KissUpdate"   value="\\CHBES004.chbe01.local\Realsystem\30_Leistungserbringung\33-37_Projekte\_intern\KiSS_Produktentwicklung\36_Entwicklung\KissUpdate.exe" />
        -->
        <add key="UpdateSource" value="" />
        <add key="KissUpdate" value="" />

        <!-- === Kiss Environment ============================================================ -->
        <!--
            Available Environment Types:
            - Prod (orange)
            - Train (blue)
            - Test (yellow)
            - Dev (green)
        -->
        <!-- number of environments -->
        <add key="EnvCount" value="50" />

        <!-- BSS -->
        <add key="Env0.Name" value="----- .: BSS :. -----" />
        <add key="Env0.EnvType" value="Train" />
        <add key="Env0.ConnectionString" value="server=(local);initial catalog=KiSS_xxx;Trusted_Connection=Yes;" />

        <add key="Env1.Name" value=".: KiSS_BSS_Dev (chbehvs004) :." />
        <add key="Env1.EnvType" value="Dev" />
        <add key="Env1.ConnectionString" value="server=CMC-DUNGNT31\MSSQLSERVER2017;initial catalog=KiSS_Ivos_TestDB_R4929_1;user id=test100;" />

        <add key="Env2.Name" value=".: KiSS_BSS_Demo_R4233 (chbehvs004) :." />
        <add key="Env2.EnvType" value="Test" />
        <add key="Env2.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_BSS_Demo_R4233;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env3.Name" value=".: KiSS_BSS_Demo_R4246 (chbehvs004) :." />
        <add key="Env3.EnvType" value="Test" />
        <add key="Env3.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_BSS_Demo_R4246;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env4.Name" value=".: KiSS_BSS_Test (chbehvs005) :." />
        <add key="Env4.EnvType" value="Test" />
        <add key="Env4.ConnectionString" value="server=chbehvs005.chbe01.local;initial catalog=KiSS_BSS_Test;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env5.Name" value=".: KiSS_BSS_Prod_R4233 (chbehvs004) :." />
        <add key="Env5.EnvType" value="Prod" />
        <add key="Env5.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_BSS_Prod_R4233;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env6.Name" value=".: KiSS_BSS_Prod_R4246 (chbehvs004) :." />
        <add key="Env6.EnvType" value="Prod" />
        <add key="Env6.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_BSS_Prod_R4246;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <!-- PI -->
        <add key="Env7.Name" value="----- .: PI :. -----" />
        <add key="Env7.EnvType" value="Train" />
        <add key="Env7.ConnectionString" value="server=.;initial catalog=KiSS_xxx;Trusted_Connection=Yes;" />

        <add key="Env8.Name" value=".: KiSS_PI_Dev (chbehvs004) :." />
        <add key="Env8.EnvType" value="Dev" />
        <add key="Env8.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_PI_Dev;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env9.Name" value=".: KiSS_PI_Test (chbehvs005) :." />
        <add key="Env9.EnvType" value="Test" />
        <add key="Env9.ConnectionString" value="server=chbehvs005.chbe01.local;initial catalog=KiSS_PI_Test;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env10.Name" value=".: KiSS_PI_Prod_R4233 (chbehvs004) :." />
        <add key="Env10.EnvType" value="Prod" />
        <add key="Env10.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_PI_Prod_R4233;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env11.Name" value=".: KiSS_PI_Prod_R4246 (chbehvs004) :." />
        <add key="Env11.EnvType" value="Prod" />
        <add key="Env11.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_PI_Prod_R4246;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <!-- ZH -->
        <add key="Env12.Name" value="----- .: ZH :. -----" />
        <add key="Env12.EnvType" value="Train" />
        <add key="Env12.ConnectionString" value="server=(local);initial catalog=KiSS_xxx;Trusted_Connection=Yes;" />

        <add key="Env13.Name" value=".: KiSS ZH - Master :." />
        <add key="Env13.EnvType" value="Dev" />
        <add key="Env13.ConnectionString" value="server=SOZM9500;initial catalog=KiSS4_MASTER_ZH;user id=KiSS3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env14.Name" value=".: KiSS ZH - Integration :." />
        <add key="Env14.EnvType" value="Test" />
        <add key="Env14.ConnectionString" value="server=SZHM9501\SOZ_KISS_I;initial catalog=KiSS4_INTEGRATION_R3_ZH;user id=KiSS3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env15.Name" value=".: KiSS ZH - Produktion :." />
        <add key="Env15.EnvType" value="Prod" />
        <add key="Env15.ConnectionString" value="server=SZHM0505\SOZ_KISS;initial catalog=KiSS4_ZH;user id=KiSS3;password=D9sADTX9axdVJYmtFaLxzg==;" />

        <add key="Env16.Name" value=".: KiSS ZH - Produktion Vortag (21:00) :." />
        <add key="Env16.EnvType" value="Test" />
        <add key="Env16.ConnectionString" value="server=SOZM9500;initial catalog=KiSS4_PRODUKTION_VORTAG_ZH;user id=KiSS3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env17.Name" value=".: KiSS ZH - Produktion Vortag SD-Support (21:00) :." />
        <add key="Env17.EnvType" value="Test" />
        <add key="Env17.ConnectionString" value="server=SOZM9500;initial catalog=KiSS4_PRODUKTION_VORTAG_ZH_SD;user id=KiSS3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env18.Name" value=".: KiSS ZH - Preview Release 4233 :." />
        <add key="Env18.EnvType" value="Test" />
        <add key="Env18.ConnectionString" value="server=SOZM9500;initial catalog=KiSS_ZH_Prod_R4233;user id=KiSS3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env19.Name" value=".: KiSS ZH - Preview Release 4246 :." />
        <add key="Env19.EnvType" value="Test" />
        <add key="Env19.ConnectionString" value="server=SOZM9500;initial catalog=KiSS_ZH_Prod_R4246;user id=KiSS3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env20.Name" value=".: KiSS ZH - Schulungsmaster :." />
        <add key="Env20.EnvType" value="Train" />
        <add key="Env20.ConnectionString" value="server=SZHM9501\SOZ_KISS_I;initial catalog=KISS4_SCHULUNGMASTER_ZH;user id=KiSS3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env21.Name" value=".: KiSS ZH - Schulung :." />
        <add key="Env21.EnvType" value="Train" />
        <add key="Env21.ConnectionString" value="server=SZHM9501\SOZ_KISS_I;initial catalog=KiSS4_SCHULUNG_ZH;user id=KiSS3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <!-- SRK/Caritas -->
        <add key="Env22.Name" value="-----.: SRK/Caritas :. -----" />
        <add key="Env22.EnvType" value="Train" />
        <add key="Env22.ConnectionString" value="server=(local);initial catalog=KiSS_xxx;Trusted_Connection=Yes;" />

        <add key="Env23.Name" value=".: KiSS_SRK_Dev (chbehvs004) :." />
        <add key="Env23.EnvType" value="Dev" />
        <add key="Env23.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_SRK_Dev;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env24.Name" value=".: KiSS_SRK_Prod_R4233 (chbehvs004) :." />
        <add key="Env24.EnvType" value="Prod" />
        <add key="Env24.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_SRK_Prod_R4233;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env25.Name" value=".: KiSS_SRK_Prod_R4246 (chbehvs004) :." />
        <add key="Env25.EnvType" value="Prod" />
        <add key="Env25.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_SRK_Prod_R4246;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env26.Name" value=".: KiSS_CAR_Prod_R4233 (chbehvs004) :." />
        <add key="Env26.EnvType" value="Prod" />
        <add key="Env26.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_CAR_Prod_R4233;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env27.Name" value=".: KiSS_CAR_Prod_R4246 (chbehvs005) :." />
        <add key="Env27.EnvType" value="Prod" />
        <add key="Env27.ConnectionString" value="server=chbehvs005;initial catalog=KiSS_CAR_Prod_R4246;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <!-- Gemeinden -->
        <add key="Env28.Name" value="----- .: Gemeinden :. -----" />
        <add key="Env28.EnvType" value="Train" />
        <add key="Env28.ConnectionString" value="server=(local);initial catalog=KiSS_xxx;Trusted_Connection=Yes;" />

        <add key="Env29.Name" value=".: KiSS_BOL_Prod_R4246 (chbehvs004) :." />
        <add key="Env29.EnvType" value="Prod" />
        <add key="Env29.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_BOL_Prod_R4246;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env30.Name" value=".: KiSS_MAD_Prod_R4233 (chbehvs005) :." />
        <add key="Env30.EnvType" value="Prod" />
        <add key="Env30.ConnectionString" value="server=chbehvs005.chbe01.local;initial catalog=KiSS_MAD_Prod_R4233;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env31.Name" value=".: KiSS_MAD_Prod_R4246 (chbehvs005) :." />
        <add key="Env31.EnvType" value="Prod" />
        <add key="Env31.ConnectionString" value="server=chbehvs005.chbe01.local;initial catalog=KiSS_MAD_Prod_R4246;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env32.Name" value=".: KiSS_MBU_Prod (R39) (chbehvs004) :." />
        <add key="Env32.EnvType" value="Prod" />
        <add key="Env32.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_MBU_Prod;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env33.Name" value=".: KiSS_MBU_Prod_R48 (chbehvs004) :." />
        <add key="Env33.EnvType" value="Prod" />
        <add key="Env33.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_MBU_Prod_R48;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env34.Name" value=".: KiSS_MBU_Prod_R4233 (chbehvs004) :." />
        <add key="Env34.EnvType" value="Prod" />
        <add key="Env34.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_MBU_Prod_R4233;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env35.Name" value=".: KiSS_MBU_Prod_R4246 (chbehvs004) :." />
        <add key="Env35.EnvType" value="Prod" />
        <add key="Env35.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_MBU_Prod_R4246;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env36.Name" value=".: KiSS_MUN_Prod_R4246 (chbehvs004) :." />
        <add key="Env36.EnvType" value="Prod" />
        <add key="Env36.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_MUN_Prod_R4246;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env37.Name" value=".: KiSS_VES_Prod_R4246 (chbehvs004) :." />
        <add key="Env37.EnvType" value="Prod" />
        <add key="Env37.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_VES_Prod_R4246;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env38.Name" value=".: KiSS_WOH_Prod_R4233 (chbehvs004) :." />
        <add key="Env38.EnvType" value="Prod" />
        <add key="Env38.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_WOH_Prod_R4233;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env39.Name" value=".: KiSS_WOH_Prod_R4246 (chbehvs004) :." />
        <add key="Env39.EnvType" value="Prod" />
        <add key="Env39.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_WOH_Prod_R4246;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env40.Name" value=".: KiSS_ZOL_Prod_R4233 (chbehvs004) :." />
        <add key="Env40.EnvType" value="Prod" />
        <add key="Env40.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_ZOL_Prod_R4233;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env41.Name" value=".: KiSS_ZOL_Prod_R4246 (chbehvs004) :." />
        <add key="Env41.EnvType" value="Prod" />
        <add key="Env41.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_ZOL_Prod_R4246;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <!-- Migrationen -->
        <add key="Env42.Name" value="----- .: Migrationen :. -----" />
        <add key="Env42.EnvType" value="Train" />
        <add key="Env42.ConnectionString" value="server=(local);initial catalog=KiSS_xxx;Trusted_Connection=Yes;" />

        <add key="Env43.Name" value=".: KiSS_ITT_Int (chbehvs004) :." />
        <add key="Env43.EnvType" value="Test" />
        <add key="Env43.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_ITT_Int;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env44.Name" value=".: KiSS_WOR_Int (chbehvs004) :." />
        <add key="Env44.EnvType" value="Test" />
        <add key="Env44.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_WOR_Int;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <add key="Env45.Name" value=".: KiSS_WYN_Int (chbehvs004) :." />
        <add key="Env45.EnvType" value="Test" />
        <add key="Env45.ConnectionString" value="server=chbehvs004.chbe01.local;initial catalog=KiSS_WYN_Int;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <!-- Remote -->
        <add key="Env46.Name" value="----- .: Remote :. -----" />
        <add key="Env46.EnvType" value="Train" />
        <add key="Env46.ConnectionString" value="server=(local);initial catalog=KiSS_xxx;Trusted_Connection=Yes;" />

        <add key="Env47.Name" value=".: KiSS4_MASTER_ZH (remote) :." />
        <add key="Env47.EnvType" value="Dev" />
        <add key="Env47.ConnectionString" value="server=172.30.240.13;initial catalog=KiSS4_MASTER_ZH;user id=kiss3;password=4mMT1HmI5Vdr1svdhGg8bg==;" />

        <!-- Local -->
        <add key="Env48.Name" value="----- .: Local :. -----" />
        <add key="Env48.EnvType" value="Train" />
        <add key="Env48.ConnectionString" value="server=(local);initial catalog=KiSS_xxx;Trusted_Connection=Yes;" />

        <add key="Env49.Name" value=".: KiSS_BSS_Demo_R4246 (local) :." />
        <add key="Env49.EnvType" value="Test" />
        <add key="Env49.ConnectionString" value="server=.;initial catalog=KiSS_BSS_Demo_R4246;Trusted_Connection=Yes;" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>