<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="KliBuContext" connectionString="metadata=res://*/KliBuContext.csdl|res://*/KliBuContext.ssdl|res://*/KliBuContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sql2014.diartislocal.local\sql2014;Initial Catalog=KiSS_BSS_TestRelease_R4531;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
