<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SI_O102_Suche_sync_obBinding">
          <security mode="Transport" />
        </binding>
        <binding name="SI_O102_Suche_sync_obBinding1" />
        <binding name="SI_O101_Anfrage_sync_obBinding">
          <security mode="Transport" />
        </binding>
        <binding name="SI_O101_Anfrage_sync_obBinding1" />
        <binding name="SI_O13_Regist_sync_obBinding">
          <security mode="Transport" />
        </binding>
        <binding name="SI_O13_Regist_sync_obBinding1" />
        <binding name="SI_O13_deRegist_sync_obBinding">
          <security mode="Transport" />
        </binding>
        <binding name="SI_O13_deRegist_sync_obBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://szhm2403.stzh.ch:443/XISOAPAdapter/MessageServlet?channel=:BC_O102_S07_PSuche:CC_O102_S07_WS_OUT&amp;version=3.0&amp;Sender.Service=BC_O102_S07_PSuche&amp;Interface=http%3A%2F%2Fstzh.ch%2FO102%2FeCH-0020%2F2.3%5ESI_O102_Suche_sync_ob"
        binding="basicHttpBinding" bindingConfiguration="SI_O102_Suche_sync_obBinding"
        contract="Suche.SI_O102_Suche_sync_ob" name="SI_O102_Suche_sync_obPort" />
      <endpoint address="https://szhm2403.stzh.ch:443/XISOAPAdapter/MessageServlet?channel=:BC_O101_S01c_PAnfrage:CC_O101_S01c_WS_OUT&amp;version=3.0&amp;Sender.Service=BC_O101_S01c_PAnfrage&amp;Interface=http%3A%2F%2Fstzh.ch%2FO101%2FeCH-0020%2F2.3%5ESI_O101_Anfrage_sync_ob"
        binding="basicHttpBinding" bindingConfiguration="SI_O101_Anfrage_sync_obBinding"
        contract="Personendaten.SI_O101_Anfrage_sync_ob" name="SI_O101_Anfrage_sync_obPort" />
      <endpoint address="https://szhm2403.stzh.ch:443/XISOAPAdapter/MessageServlet?channel=:BC_O13_S03_Regist:CC_O13_S03_WS_OUT&amp;version=3.0&amp;Sender.Service=BC_O13_S03_Regist&amp;Interface=http%3A%2F%2Fstzh.ch%2FO13%2FeCH-0020%2F2.3%5ESI_O13_deRegist_sync_ob"
        binding="basicHttpBinding" bindingConfiguration="SI_O13_deRegist_sync_obBinding"
        contract="Abmelden.SI_O13_deRegist_sync_ob" name="SI_O13_deRegist_sync_obPort" />
      <endpoint address="https://szhm2403.stzh.ch:443/XISOAPAdapter/MessageServlet?channel=:BC_O13_S03_Regist:CC_O13_S03_WS_OUT&amp;version=3.0&amp;Sender.Service=BC_O13_S03_Regist&amp;Interface=http%3A%2F%2Fstzh.ch%2FO13%2FeCH-0020%2F2.3%5ESI_O13_Regist_sync_ob"
        binding="basicHttpBinding" bindingConfiguration="SI_O13_Regist_sync_obBinding"
        contract="Anmelden.SI_O13_Regist_sync_ob" name="SI_O13_Regist_sync_obPort" />
    </client>
    <services>
      <service name="KiSSSvc.Omega.Service1">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/KiSSSvc.Omega/Service1/"   />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address=""  binding="wsHttpBinding" contract="KiSSSvc.Omega.IService1">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. --> 
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
