.col-2 {
    float: left;
    width: 20%;
}

.col-3 {
    float: left;
    width: 30%;
}

.col-7 {
    float: left;
    width: 70%;
}

.col-8 {
    float: left;
    width: 80%;
}
.col-offset-2 {
    margin-left: 20%;
}
.col-offset-3 {
    margin-left: 30%;
}
