<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KiSS4.FAMOZ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <KiSS4.FAMOZ.Properties.Settings>
            <setting name="FAMOZ_AlphaService_AlphaWebReference_AlphaSvc" serializeAs="String">
                <value>http://sozm9500/AlphaSvc/Master/AlphaSvc.asmx</value>
            </setting>
            <setting name="KiSS4_FAMOZ_PSCDSvcWebReference_PSCDSvc" serializeAs="String">
                <value>http://localhost:2177/PSCDSvc.asmx</value>
            </setting>
            <setting name="KiSS4_FAMOZ_WorkerProcess_WorkerProcessSvc" serializeAs="String">
                <value>http://localhost:2331/WorkerProcess.asmx</value>
            </setting>
        </KiSS4.FAMOZ.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
