<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="Kiss" connectionString="Data Source=.;Initial Catalog=KiSSBank;Integrated Security=True;MultipleActiveResultSets=True" />-->
    <add name="KliBuContext" connectionString="metadata=res://*/KliBuContext.csdl|res://*/KliBuContext.ssdl|res://*/KliBuContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;server=sql2014.diartislocal.local\sql2014;initial catalog=KiSS_BSS_Test;user id=KiSS3;password=kiss2012;&quot;" providerName="System.Data.EntityClient" />
    <add name="LookupContext" connectionString="metadata=res://*/LookupContext.csdl|res://*/LookupContext.ssdl|res://*/LookupContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;server=sql2014.diartislocal.local\sql2014;initial catalog=KiSS_BSS_Test;user id=KiSS3;password=kiss2012;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>